<!DOCTYPE html>
<html xmlns:th="www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>회원정보</h1>
    <table border = "1">
        <thead>
        <tr>
            <td>ID</td>
            <td>이름</td>
            <td>나이</td>
            <td>주소</td>
            <td>수정</td>
            <td>삭제</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>장원영</td>
                <td>20</td>
                <td>서울</td>
                <td>
                    <form>
                        <input type="submit" value="수정">
                    </form>
                </td>
                <td>
                    <form>
                        <input type="submit" value="삭제">
                    </form>
                </td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
        </tbody>
    </table>
        <br>
            <form>
                <input type="submit" value="신규회원입력">
            </form>
</body>
</html>